<%- include("partials/header"); -%>
<div class="container p-5">
    <div class="card shadow-lg rounded p-3">
        <div class="row">
                <%viclist.forEach(victim=> {%>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <img class="img" src="uploads/images/<%=victim.img%>">
                                    <!-- <div class="card-caption"> Quisque a bibendum magna </div> -->
                                
                                <div class="ripple-cont"></div>
                            </div>
                            <div class="table">
                                <h4 class="text-weight-bold text-info text-center">
                                    <%= victim.location %>
                                </h4>
                                <br>
                                <h5 class="category text-info">
                                    <%= victim.ageCategory %>
                                </h5>
                                <h5 class="category text-info">
                                    <%= victim.saviersName %>
                                </h5>
                                <p class="card-description">
                                    <%=victim.desc %>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    <%})%>

        </div> 
    </div>
</div>
<%- include("partials/footer"); -%>